html,
body {
  padding: 0;
  margin: 0;
  /* height: 100%;
	width: 100%; */
  /* background-color: #6725ff; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* .chakra-ui-light{
  color: "red"!important; 
  background-color: #6725ff;
   height: 100%;
	width: 100%;
}
.chakra-ui-dark{
  background-color: #6215ff;
  height: 100%;
	width: 100%;
} */
/*To import and use a custom font*/
/* @font-face {
  font-family: "Coves";    
  src: url("/fonts/Coves Light.otf");
  font-display: swap;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* body[data-theme="light"]{ */
  /* --background-image :  url(../public/lightBackg.jpg); */
  /* --color-text-primary : black; */
  /* --background-gradient :   linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
  /* --theme-color :  white ; */
  /* --object-color : #ffffff; */
  /*  linear-gradient(132deg, rgba(255,255,255,1) 29%, rgba(251,200,212,1) 83%); */
/* } */

/* body[data-theme="dark"]{ */
  /* --color-text-primary : white; */
  /* --background-image :  url(../public/backg3.jpg); */
  /* --background-gradient : linear-gradient(315deg, #000000 0%, #414141 74%);; */
  /* --object-color : #262837; */
  /* --theme-color : black */
/* } */
/* body{ */
  /* background-color: var(--theme-color); */
  /* transition: background 0.25s ease-in-out; */
  /* background-image: var(--background-image); */
  /* background-repeat: no-repeat;
  background-size:     cover; 
  background-position: center center;  */
  /* font-family: 'Coves'; Imported font name to be added here  */ 
/* } */
h1 {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

 
 /* ::-webkit-scrollbar {
	width: 12px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
	background: #8c5ff5; 
	border-radius: 10px;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
	background: #6725ff; 
  } 
  */
  #nprogress .bar {
    background: #6725ff !important;
    height:5px!important; 
  }

  
  #nprogress .peg {
    /* box-shadow: 0 0 10px white, 0 0 5px white; */
  }
  
  #nprogress .spinner-icon {
    border-top-color: #6725ff!important;
    border-left-color: #6725ff!important;
  }